chromadb
llama-index
gradio
google-generativeai
neo4j
langchain
langchain-core
scikit-learn
sentence-transformers
langchain-community
langchain-google-genai
llama-index-readers-file
llama-index-program-openai
llama-index-readers-llama-parse
ragas
sec-parser
beautifulsoup4
cohere
langchain-cohere
PyMuPDF
datasets
pytest
psutil